.circles_heading_outer {
  display: flex;
  justify-content: space-between;
  margin: 20px 50px;
}

.circles_outer_spacing {
  padding: 6rem 7rem;
}
.circles_outer {
  display: flex;
  justify-content: space-around;
}
.circle_one {
  border-radius: 50%;
  width: 470px;
  height: 470px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid white;
}

.overlay {
  width: 50px;
  position: absolute;
  height: 50px;
  border-radius: 50%;
  top: 13rem;
  left: 13rem;
  z-index: 1;
  transition: transform 0.6s ease-out;
}

.circle_one:hover .overlay {
  transform: scale(9.3) translateZ(0);
  background-color: rgb(234, 228, 228);
}
.circle_two:hover .overlay {
  transform: scale(9.3) translateZ(0);
  background-color: rgb(234, 228, 228);
}
.circle_three:hover .overlay {
  transform: scale(9.3) translateZ(0);
  background-color: rgb(234, 228, 228);
}

.circle_two {
  border-radius: 50%;
  width: 470px;
  transition: all 0.3s ease-out;
  height: 470px;
  overflow: hidden;
  display: flex;
  background-color: pink;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid white;
}
.circle_three {
  border-radius: 50%;
  width: 470px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: background-color 0.5s ease-out 80ms;
  height: 470px;
  border: 1px solid white;
}

/* .circles_inner_circle_outer {
  height: 500px;
  width: 100%;

  border-radius: 50%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
} */

.circles_inner_circle {
  width: 165.2px;
  height: 165.2px;
  left: 15px;
  position: absolute;
  border: 1px solid rgb(255, 252, 245);
  border-radius: 50%;
}
.circles_inner_text {
  font-size: 20px;
  color: white;
  font-weight: 300;
  margin-left: 30px;
}





.cursor {
  background-color: #111;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}
.circles_paragraph {
  text-align: center;
  padding-top: 6rem;
  width: 89%;
  font-size: 28px;
  color: white;
  margin: 0 auto;
  font-weight: 300;
}
.circles_circle {
  margin: 0 10px;
}
@media (min-width: 1600px) {
  .circle_one {
    border-radius: 50%;
    width: 550px;
    height: 550px;
    transition: background-color 0.5s ease-out 80ms;
    border: 2px solid white;
  }
  .circle_two {
    border-radius: 50%;
    width: 550px;
    transition: all 0.3s ease-out;
    height: 550px;
    border: 2px solid white;
  }
  .circle_three {
    border-radius: 50%;
    width: 550px;
    transition: background-color 0.5s ease-out 80ms;
    height: 550px;
    border: 2px solid white;
  }

  .overlay {
    width: 50px;
    position: absolute;
    height: 50px;
    border-radius: 50%;
    top: 15.4rem;
    left: 15.4rem;
    z-index: 1;
    z-index: 1;
    transition: transform 0.6s ease-out;
  }

  .circle_one:hover .overlay {
    transform: scale(11) translateZ(0);
    background-color: rgb(234, 228, 228);
  }
  .circle_two:hover .overlay {
    transform: scale(11) translateZ(0);
    background-color: rgb(234, 228, 228);
  }
  .circle_three:hover .overlay {
    transform: scale(11) translateZ(0);
    background-color: rgb(234, 228, 228);
  }

  .circles_inner_text {
    font-size: 20px;
    font-weight: 300;
    margin-left: 0;
  }
  .circles_paragraph {
    text-align: center;
    width: 80%;
    font-size: 28px;
    margin: 0 auto;
    font-weight: 300;
  }
}



@media (max-width: 1024px) {
  .circles_paragraph {
    text-align: center;
    width: 100%;
    font-size: 23px;
    margin: 0 auto;
    padding: 0 100px;
    font-weight: 300;
  }

  .circles_inner_text {
    font-size: 18px;
    font-weight: 300;
    margin-left: 0px;
  }

  .circles_circle {
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 0px;
    justify-content: center;
  }

  .circles_heading_outer {
    display: flex;
    font-size: 17px;
    justify-content: space-between;
  }

  .circles_outer {
    display: flex;
  }

  .circles_outer_spacing {
    padding: 2rem 0rem;
  }

  .circle_one {
    border-radius: 50%;
    width: 275px;
    height: 275px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid white;
  }

  .circle_two {
    border-radius: 50%;
    width: 275px;
    transition: all 0.3s ease-out;
    height: 275px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid white;
  }
  .circle_three {
    border-radius: 50%;
    width: 275px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: background-color 0.5s ease-out 80ms;
    height: 275px;
    border: 1px solid white;
  }

  .overlay {
    width: 50px;
    position: absolute;
    height: 50px;
    border-radius: 50%;
    top: 6.4rem;
    left: 6.4rem;
    z-index: 1;
    z-index: 1;
    transition: transform 0.6s ease-out;
  }

  .circle_one:hover .overlay {
    transform: scale(11) translateZ(0);
    background-color: rgb(234, 228, 228);
  }
  .circle_two:hover .overlay {
    transform: scale(11) translateZ(0);
    background-color: rgb(234, 228, 228);
  }
  .circle_three:hover .overlay {
    transform: scale(11) translateZ(0);
    background-color: rgb(234, 228, 228);
  }
}






























@media (max-width: 991px) {
  .circles_paragraph {
    text-align: center;
    width: 100%;
    font-size: 23px;
    margin: 0 auto;
    padding: 0 13px;
    font-weight: 300;
  }

  .circles_inner_text {
    font-size: 18px;
    font-weight: 300;
    margin-left: 0px;
  }

  .circles_circle {
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 0px;
    justify-content: center;
  }

  .circles_heading_outer {
    display: flex;
    font-size: 17px;
    justify-content: space-between;
  }

  .circles_outer {
    display: flex;
  }

  .circles_outer_spacing {
    padding: 2rem 0rem;
  }

  .circle_one {
    border-radius: 50%;
    width: 255px;
    height: 255px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid white;
  }

  .circle_two {
    border-radius: 50%;
    width: 255px;
    transition: all 0.3s ease-out;
    height: 255px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid white;
  }
  .circle_three {
    border-radius: 50%;
    width: 255px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: background-color 0.5s ease-out 80ms;
    height: 255px;
    border: 1px solid white;
  }

  .overlay {
    width: 50px;
    position: absolute;
    height: 50px;
    border-radius: 50%;
    top: 6.4rem;
    left: 6.4rem;
    z-index: 1;
    z-index: 1;
    transition: transform 0.6s ease-out;
  }

  .circle_one:hover .overlay {
    transform: scale(11) translateZ(0);
    background-color: rgb(234, 228, 228);
  }
  .circle_two:hover .overlay {
    transform: scale(11) translateZ(0);
    background-color: rgb(234, 228, 228);
  }
  .circle_three:hover .overlay {
    transform: scale(11) translateZ(0);
    background-color: rgb(234, 228, 228);
  }
}

@media (max-width: 787px) {
  .circles_paragraph {
    text-align: center;
    width: 100%;
    font-size: 18px;
    margin: 0 auto;
    padding: 0 13px;
    font-weight: 300;
  }

  .circles_inner_text {
    font-size: 18px;
    font-weight: 300;
    margin-left: 0px;
  }

  .circles_circle {
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 0px;
    justify-content: center;
  }

  .circles_heading_outer {
    display: flex;
    font-size: 15px;
    justify-content: space-between;
  }

  .circles_outer {
    display: flex;
  }

  .circles_outer_spacing {
    padding: 2rem 0rem;
  }

  .circle_one {
    border-radius: 50%;
    width: 225px;
    height: 225px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid white;
  }

  .circle_two {
    border-radius: 50%;
    width: 225px;
    transition: all 0.3s ease-out;
    height: 225px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid white;
  }
  .circle_three {
    border-radius: 50%;
    width: 225px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: background-color 0.5s ease-out 80ms;
    height: 225px;
    border: 1px solid white;
  }

  .overlay {
    width: 50px;
    position: absolute;
    height: 50px;
    border-radius: 50%;
    top: 5.4rem;
    left: 6.4rem;
    z-index: 1;
    z-index: 1;
    transition: transform 0.6s ease-out;
  }

  .circle_one:hover .overlay {
    transform: scale(11) translateZ(0);
    background-color: rgb(234, 228, 228);
  }
  .circle_two:hover .overlay {
    transform: scale(11) translateZ(0);
    background-color: rgb(234, 228, 228);
  }
  .circle_three:hover .overlay {
    transform: scale(11) translateZ(0);
    background-color: rgb(234, 228, 228);
  }
}

@media (max-width: 425px) {
  .circles_inner_text {
    font-size: 18px;
    font-weight: 300;
    margin-left: 0px;
  }

  .circles_circle {
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 22px;
    justify-content: center;
  }

  .circles_outer {
    display: block;
  }

  .circles_outer_spacing {
    padding: 2rem 0rem;
  }

  .circle_one {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid white;
  }

  .circle_two {
    border-radius: 50%;
    width: 300px;
    transition: all 0.3s ease-out;
    height: 300px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid white;
  }
  .circle_three {
    border-radius: 50%;
    width: 300px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: background-color 0.5s ease-out 80ms;
    height: 300px;
    border: 1px solid white;
  }

  .circles_paragraph {
    text-align: center;
    width: 100%;
    font-size: 18px;
    margin: 0 auto;
    padding: 0 13px;
    font-weight: 300;
  }

  .circles_heading_outer {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    margin: 14px 18px;
  }

  .overlay {
    width: 50px;
    position: absolute;
    height: 50px;
    border-radius: 50%;
    top: 6rem;
    left: 7.4rem;
    z-index: 1;
    z-index: 1;
    transition: transform 0.6s ease-out;
  }

  .circle_one:hover .overlay {
    transform: scale(11) translateZ(0);
    background-color: rgb(234, 228, 228);
  }
  .circle_two:hover .overlay {
    transform: scale(11) translateZ(0);
    background-color: rgb(234, 228, 228);
  }
  .circle_three:hover .overlay {
    transform: scale(11) translateZ(0);
    background-color: rgb(234, 228, 228);
  }
}
