.common_img_outer {
  position: relative;
  width: 100%;
  aspect-ratio: 70/35;
}
@media (max-width: 991px) {
  .common_img_outer {
    position: relative;
    width: 100%;
    aspect-ratio: 1;
  }


}


@media (max-width: 787px) {
  .common_img_outer {
    position: relative;
    width: 100%;
    aspect-ratio: 1;
  }


}

