#page3{
    /* position: relative;
    height: 100vh;
    background-color: blue;
    width: 100vw; */
    position: relative;
      height: 100vh !important;
      /* width: 100vw; */
      transform: none !important;
  }
  #page3>canvas{
   max-height: 100vh;
    max-width: 100vw;
    position: relative;
  }
  
  .pin-spacer{
    padding: 0 !important;
    height: 1400px !important;
  }
  
  
  @media (min-width:1600px){
    .pin-spacer{
      padding: 0 !important;
      height: 1800px !important;
    }
    
  }