#page3{
  /* position: relative;
  height: 100vh;
  background-color: blue;
  width: 100vw; */
  position: relative;
    height: 100vh !important;
    /* width: 100vw; */
    transform: none !important;
}
#page3>canvas{
 max-height: 100vh;
  max-width: 100vw;
  position: relative;
}
body{
  margin: 0;
  overflow-x: hidden;
}


.z{
  position: relative;
  height: 1000px;
  background-color: rgb(87, 30, 193);
}

/* .pin-spacer{
  padding: 0 !important;
  height: 1261px  !important;
}


@media (min-width:1600px){
  .pin-spacer{
    padding: 0 !important;
    height: 1800px !important;
  }
  
} */