.specifications_section {
  position: relative;
}
.specifications_title {
  color: #0f8a83;
  font-size: 120px;
  font-weight: 500;
  padding: 2rem 2.5rem;
}
.specifications_content {
  display: flex;
  justify-content: space-between;
  margin: 1rem 6.8rem;
  padding-bottom: 3.5rem;
}
.specifications_content span {
  color: #c3a464;
  font-size: 18px;
  font-weight: 700;
}
.specifications_content p {
  color: #ffffff;
  font-size: 14px;
  margin-top: 8px;
  font-weight: 700;
}
.specifications_img {
  position: absolute;
  max-width: 100%;
  display: block;
  bottom: -50px;
  left: 40%;
}
