.innovation_flex {
  display: flex;
  background: #E5E5E5;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
/* .innovation_flex_fifty_side1 {
  padding: 4rem 5rem;
  height: 100%;
} */
.innovation_flex_fifty_side1 {
  width: 50%;
}
.innovation_flex_fifty_side2 {
  width: 50%;
}
.flex_img_fifty {
  height: 100%;
  width: 80%;
}
.innovation_flex_fifty_text {
  font-size: 22px;
  font-weight: 400;
  line-height: 158%;
  color: #006F69;
}
@media (max-width: 768px) {
  .innovation_flex {
    flex-direction: column;
  }


  .innovation_flex_fifty_text {
    font-size: 18px;
    font-weight: 400;
    line-height: 158%;
    color: #006F69;
  }
  .innovation_flex_fifty_side1,
  .innovation_flex_fifty_side2 {
    width: 100%;
    margin-top: 25px;
  }
  .flex_img_fifty {
    height: 100%;
    width: 100%;
  }
}
